<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<div class="container my-5">
    <div class="row justify-content-md-center">
        <h1 class="col col-md-6">
            All Nice Parks
        </h1>
        <p class="alert alert-info" role="alert">
            Add <a href="/stateparks/new" class="alert-link">A New Park</a> You Like!
        </p>
    </div>
</div>

<ul>
    <% for(let statepark of stateparks) {%>
    <div class="card mb-3">
        <div class="row">
            <% if(statepark.images.length) {%>
            <div class="col-md-4">
                <img class="img-fluid"
                    src="<%= statepark.images[Math.floor(Math.random()*statepark.images.length)].url %> " alt="">
            </div>
            <% } %>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title"><%= statepark.title %> </div>
                    <p class="card-text"><%= statepark.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= statepark.location %></small>
                    </p>
                    <a href="/stateparks/<%= statepark._id %>" class="btn btn-primary">View <%= statepark.title %></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</ul>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const stateparks = { features: <%- JSON.stringify(stateparks) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>